<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*"> <!--允许跨域-->
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <script>
           window.userData = {
              
           };
           window.adminData = {};
           window.globalConfig = {
             	host:"http://localhost:8888/dev/1.0.50/"
           };
    </script>
</head>

<body>
    <div id="root">
    </div>
</body>

</html>